
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="/process" method="post" class="main_box">
        <h1>Dojo Survey</h1>
        <div class="group_form">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control">
        </div>
        <div class="group_form">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control">
        </div>
        <div class="group_form">
            <label for="location">Location:</label>
            <select name="location"  class="form-control">
                <option value="">--SELECT ONE--</option>
                <option value="Austin">Austin</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="New York">New York</option>
                <option value="Chicago">Chicago</option>
                <option value="Denver">Denver</option>
                <option value="Online">Online</option>
            </select>
        </div>
        <div class="group_form">
            <label for="language">Language:</label>
            <select name="language"  class="form-control">
                <option value="">--SELECT ONE--</option>
                <option value="GO">GO</option>
                <option value="Cobra">Cobra</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div class="group_form">
            <label for="name">Comments:</label>
            <textarea name="comments"  cols="40" rows="50" class="form-control"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</body>
</html>